pipeline/PL_Parent.json
{
	"name": "PL_Parent",
	"properties": {
		"activities": [
			{
				"name": "Execute Ingestion",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_Ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Files": {
							"value": "@pipeline().parameters.files",
							"type": "Expression"
						},
						"p_mapping_flight": {
							"value": "@pipeline().parameters.p_mapping_flight",
							"type": "Expression"
						},
						"p_mapping_passenger": {
							"value": "@pipeline().parameters.p_mapping_passenger",
							"type": "Expression"
						},
						"p_mapping_airline": {
							"value": "@pipeline().parameters.p_mapping_airline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute API",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Execute Ingestion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_API_Ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute Incremental",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_SQL_Ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "FailureAlert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Incremental",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "https://prod-48.eastus.logic.azure.com:443/workflows/7b692b7399d34d38bc1cc516b3791625/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=COitKdlD3f6eQH7R9n1qKOSDrG5oOn68vHiFb1vU3FM",
						"type": "Expression"
					},
					"body": {
						"value": "{\n    \"pipeline_name\": \"@{pipeline().Pipeline}\",\n    \"run_id\": \"@{pipeline().RunId}\",\n    \"status\": \"@{activity('Execute Incremental').Status}\",\n    \"error\": \"@{if(equals(activity('Execute Incremental').Status,'Failed'), string(activity('Execute Incremental').error), 'No error')}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"files": {
				"type": "array",
				"defaultValue": [
					{
						"file_name": "DimAirline.csv"
					},
					{
						"file_name": "DimFlight.csv"
					},
					{
						"file_name": "DimPassenger.csv"
					}
				]
			},
			"p_mapping_flight": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "flight_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "flight_id",
								"type": "String",
								"physicalType": "UTF8"
							}
						},
						{
							"source": {
								"name": "flight_number",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "flight_number",
								"type": "String",
								"physicalType": "UTF8"
							}
						},
						{
							"source": {
								"name": "departure_time",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "departure_time",
								"type": "String",
								"physicalType": "UTF8"
							}
						},
						{
							"source": {
								"name": "arrival_time",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "arrival_time",
								"type": "String",
								"physicalType": "UTF8"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			},
			"p_mapping_passenger": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "passenger_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "passenger_id",
								"type": "String",
								"physicalType": "UTF8"
							}
						},
						{
							"source": {
								"name": "full_name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "full_name",
								"type": "String",
								"physicalType": "UTF8"
							}
						},
						{
							"source": {
								"name": "gender",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "gender",
								"type": "String",
								"physicalType": "UTF8"
							}
						},
						{
							"source": {
								"name": "age",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "age",
								"type": "String",
								"physicalType": "UTF8"
							}
						},
						{
							"source": {
								"name": "country",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "country",
								"type": "String",
								"physicalType": "UTF8"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			},
			"p_mapping_airline": {
				"type": "string",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "airline_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "airline_id",
								"type": "String",
								"physicalType": "UTF8"
							}
						},
						{
							"source": {
								"name": "airline_name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "airline_name",
								"type": "String",
								"physicalType": "UTF8"
							}
						},
						{
							"source": {
								"name": "country",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "country",
								"type": "String",
								"physicalType": "UTF8"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-08-15T14:34:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}